# --- Titanium Specific ---
node_modules/
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/
binaries/
*.local
.env

# --- Editor & IDEs ---
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.sln
*.suo
*.sw?

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- OS Junk ---
.DS_Store
Thumbs.db
